html {
  height: 100%;
}

body {
  @include body-font;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
  display: -webkit-flex;		
  display: -ms-flexbox;		
  display: flex;
  margin: 0;
  position: relative;
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  @include heading-font;
}

p {
  line-height: 1.75;
  font-size:14px;
  color:$primary;
}

#pageContainer {
  display: -webkit-flex;		
  display: -ms-flexbox;		
  display: flex;
  margin:0px auto;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.main{
  flex: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.inner-main{
  padding: 2.5rem 4rem;
}

.registration{
  h1{
    font-size:42px;
    margin:0;
  }
  p{
    margin: 5px 0px;
    font-size: 14px;
    a{
      color: $light-blue;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.social-media{
  padding:10px 0px;
  h3{
    font-size:14px;
    color: $grey;
    font-weight:600;
  }
  .social-buttons {
    display: flex;
    justify-content: space-between;
    i{
      font-size:18px;
    }
  }
}

.flex-end { 
  justify-content: flex-end; 
  margin-top:40px;
} 

.hide-desktop{
  display: none;
}

.avatar{
  text-align: center;
  margin:20px 20px 40px 20px;
  img{
    max-width: 120px;
    border-radius: 50%;
  }  
}
