@mixin body-font {
  font-family: 'Open Sans', sans-serif;  
}

@mixin heading-font {
  font-family: 'Roboto', sans-serif;
}

@mixin display-flex{
  display: -webkit-flex;		
  display: -ms-flexbox;		
  display: flex;
}
