.sidebar {
  background:url('../img/bg.jpg');
  background-size: cover;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  flex: 1;
  -webkit-order: 1; 
  -ms-flex-order: 1; 
  order: 0;
  min-height: 660px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color:$white;
  h2{    
    font-size:100px;
    line-height: 1em;
    margin-bottom:0;
    padding: 10px 60px;
    span{
      display:block;
    }
  }
  p{
    max-width: 340px;
    padding: 0px 60px;
  }
}


