.sidebar {
  background:url('../img/bg.jpg');
  background-size: cover;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  flex: 1;
  -webkit-order: 1; 
  -ms-flex-order: 1; 
  order: 0;
  max-height: 760px;
  height: 100%;
  h2{
    color:$white;
    font-size:100px;
    line-height: 1em;
    margin-bottom:0;
    text-shadow: 2px 4px 3px rgba(0,0,0,.3);
    padding: 10px 60px;
    span{
      display:block;
    }
  }
  p.tagline{
    color:$white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    max-width: 340px;
    font-size: 14px;
    padding: 0px 60px;
  }
}


