// Variables
$breakpoint-small: 576px;
$breakpoint-tablet: 768px;
$breakpoint-medium: 991px;
$breakpoint-large: 1100px;
// Restated Bootstrap Variables

$white: #fff !default;
$fb: #3B5999 !default;
$twitter: #4099FF !default;
$google: #d34836 !default;
$login: #CA2545 !default;

$primary: #444 !default;
$grey: #897d7d !default;
$black: #000;
$dark-grey: #111 !default;
$light-grey: #ddd !default;
$light-blue: #00b6ff !default;