// Variables
$breakpoint-tablet: 991px;
$breakpoint-medium: 1100px;
// Restated Bootstrap Variables

$white: #fff !default;
$fb: #3B5999 !default;
$twitter: #4099FF !default;
$google: #d34836 !default;
$login: #CA2545 !default;

$primary: #444 !default;
$grey: #897d7d !default;
$dark-grey: #111 !default;