body {
  font-family: 'Open Sans', sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

#pageContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.main {
  flex: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.inner-main {
  padding: 2.5rem 4rem;
}

.registration h1 {
  font-size: 42px;
  margin: 0;
}

.registration p {
  margin: 5px 0px;
}

.registration p a {
  color: #00b6ff;
  text-decoration: none;
}

.registration p a:hover {
  text-decoration: underline;
}

.social-media {
  padding: 10px 0px;
}

.social-media h3 {
  font-size: 14px;
  color: #897d7d;
  font-weight: 600;
}

.social-media .social-buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.social-media .social-buttons i {
  font-size: 15px;
}

.flex-end {
  justify-content: flex-end;
  margin-top: 40px;
}

.hide-desktop {
  display: none;
}

.avatar {
  text-align: center;
  margin: 20px 20px 40px 20px;
}

.avatar img {
  max-width: 120px;
  border-radius: 50%;
}

.sidebar {
  background: url("../img/bg.jpg");
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  flex: 1;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 0;
  min-height: 660px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.sidebar h2 {
  font-size: 100px;
  line-height: 1em;
  margin-bottom: 0;
  padding: 10px 60px;
}

.sidebar h2 span {
  display: block;
}

.sidebar p {
  max-width: 340px;
  padding: 0px 60px;
}

.button {
  width: 90px;
  position: relative;
  border: none;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  padding: 0.8em 1.25em;
  color: #fff;
  overflow: hidden;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.button.button--fb {
  background: #3B5999;
}

.button.button--fb::before {
  background: #263962;
}

.button.button--twitter {
  background: #4099FF;
}

.button.button--twitter::before {
  background: #0071f3;
}

.button.button--google {
  background: #d34836;
}

.button.button--google::before {
  background: #9b3022;
}

.button.button--login {
  background: #CA2545;
  width: 170px;
  text-transform: uppercase;
  padding: 0.8em 2.8em;
  font-size: 16px;
  margin-top: 30px;
}

.button.button--login:hover {
  background: #89192f;
  transition: .5s ease;
}

.button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -15px 0 0 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: scale3d(1, 2, 1);
  transform: scale3d(1, 2, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
}

.button:focus {
  outline: none;
}

.button:hover::before {
  -webkit-transform: scale3d(9, 9, 1);
  transform: scale3d(9, 9, 1);
}

.button span {
  vertical-align: middle;
  padding-left: 0.75em;
}

form .form-group .form-input:focus ~ label, form .form-group .form-input:valid ~ label {
  top: -2rem;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

form .form-group .form-input ~ span, form .form-group label {
  position: absolute;
  bottom: 0;
  left: 0;
}

form {
  margin-top: 30px;
}

form .form-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em 0rem 1.5em 0rem;
  position: relative;
}

form .form-group .form-input {
  padding: 0.75rem 0rem 0.5rem 0rem;
  border: 0;
  width: 100%;
  font-size: 1rem;
  border-bottom: 1px solid #111;
  color: #111;
}

form .form-group .form-input ~ span {
  display: block;
  width: 0;
  height: 3px;
  background: #00b6ff;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

form .form-group .form-input:focus {
  outline: 0;
}

form .form-group .form-input:focus ~ span {
  width: 100%;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

form .form-group .form-input::placeholder {
  opacity: 0;
}

form .form-group label {
  color: #444;
  padding: 0.75rem 1rem 0.3rem 0rem;
  transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
  pointer-events: none;
  font-weight: 600;
}

form .form-group .icon {
  position: absolute;
  right: 5px;
  bottom: 7px;
  color: #897d7d;
  font-size: 20px;
}

form .form-radio label {
  color: #000;
}

form .form-radio input[type=checkbox] {
  display: none;
}

form .form-radio input[type=checkbox] + *:before {
  content: "";
  display: inline-flex;
  margin-right: 8px;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 1px solid #897d7d;
  background: #fff;
}

form .form-radio input[type=checkbox]:checked + *:before {
  box-shadow: 0px 0px 0px .5px grey , inset 0px 0px 0px .14em #ddd;
  background-color: #444;
}

@media (min-width: 991px) {
  body {
    height: 100vh;
  }
}

@media (max-width: 991px) {
  body {
    background: linear-gradient(rgba(207, 49, 50, 0.95), rgba(255, 0, 0, 0.45)), url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hide-mobile {
    display: none !important;
  }
  .hide-desktop {
    display: block;
  }
  .inner-main {
    padding: 2.5rem 1.5rem;
  }
  form .form-group .form-input {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 10px 15px;
    color: #fff;
    line-height: 2;
    background: transparent;
  }
  form .form-group .form-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
  }
  form .form-group .form-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }
  form .form-group .form-input:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
  }
  form .form-group .form-input:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
  }
  form .form-group .form-input::placeholder {
    opacity: 1;
  }
  form .form-group .form-input:focus {
    border-color: #d9d9d9;
  }
  form .form-group .form-input ~ span {
    display: none;
  }
  form .form-group label {
    display: none;
  }
  form .form-group .button--login {
    width: 100%;
    background: #fff;
    color: #444;
  }
  form .form-group .button--login:hover {
    background: #d9d9d9;
  }
  form .form-radio {
    text-align: center;
  }
  form .form-radio label {
    color: #fff;
  }
  form .form-radio input[type="checkbox"] + ::before {
    background: transparent;
    border-color: #fff;
  }
  .social-media h3 {
    color: #fff;
    text-align: center;
  }
  .social-media .social-buttons .button {
    width: 50px;
    height: 50px;
    padding: 0px;
    font-size: 25px;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
  }
  .social-media .social-buttons .button i {
    line-height: 50px;
    font-size: 25px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1100px) {
  .social-buttons .button {
    padding: .8em;
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  html {
    height: auto;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  html {
    height: 100%;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xxoq17");
  src: url("../fonts/icomoon.eot?xxoq17#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xxoq17") format("truetype"), url("../fonts/icomoon.woff?xxoq17") format("woff"), url("../fonts/icomoon.svg?xxoq17#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\ea0c";
}

.icon-google-plus:before {
  content: "\ea8b";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-twitter:before {
  content: "\ea96";
}

/*# sourceMappingURL=login.css.map */
